.Banner{
    min-height:80vh;
    text-decoration:none;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: rgba( 255, 255, 255, 0.20 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20.0px );
        -webkit-backdrop-filter: blur( 20.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.back{
    margin-top:5vh;
    background: rgba( 255, 255, 255, 0.20 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20.0px );
        -webkit-backdrop-filter: blur( 20.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        text-align: center;
        cursor: pointer;
}